.my-grid-container {
  width: 90%;
  margin: 0 auto;

  @include mq-desktop {
    width: 1200px;
  }
}

.my-grid-row {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.my-grid-column {
  // border: 1px solid red;
}
